extends layout

block content
  form(method="post")
    input(class="text", type="text", name="state", placeholder="Enter your state's two letter abbreviation")
    input(class="submit", type="submit", value="View polls")
