// Typography
$text_color = #333
$secondary_text = #999
$link_color = #333
$font_family = Helvetica, Arial, sans-serif
$font_size = 62.5% 

// Layout
$width = 960px

// UI
$bar_height = 45px
$red = #BC5C5C
$blue = #5C6B95
