@import "_variables"
@import "_mixins"

*
  margin: 0
  padding: 0

html
  font-family: $font_family
  font-size: $font_size

body
  font-size: 1.2em
  background: #efefef

a
  color: $link_color

  &:hover
    text-decoration: underline

ul, li
  list-style-type: none

h1
  margin-bottom: 5px
  font-size: 1.4em
  a
    text-decoration: none

p
  font-size: 1.1em

// structure
header, .content, footer
  width: $width
  margin: 0 auto

  @media screen and (max-width: 480px)
    width: 90%

header
  padding: 50px 0 20px 35px

  @media screen and (max-width: 480px)
    padding-top: 25px

footer
  padding: 20px 0 30px

//form
form
  container()

  p
    margin-bottom: 20px

  input.text
    height: 30px
    line-height: 30px
    width: 40%
    border: 1px solid #ddd
    line-height: 30px
    padding: 0 10px
    font-size: 1.4em

  input.submit
    height: 30px
    line-height: 30px
    background: #bbb
    color: #fff
    padding: 0 10px
    border: 1px solid #bbb 
    margin-left: 5px
    font-style: inherit
    border-radius: 10px

    &:hover
      cursor: pointer

.container
  container()
  overflow: hidden
  @media screen and (max-width: 480px)
    padding: 0 

//homepage state list
.states
  min-height: 400px
  float: left
  width: 300px
  border-right: 1px solid #ddd
  border-top: 1px solid #ddd

  @media screen and (max-width: 480px)
    width: 100%  
    min-height: auto
    border-top: none

  &:first-child
    border-left: 1px solid #ddd

  &:last-child
    @media screen and (max-width: 480px)
      li:last-child
        border-bottom: none

  li 
    border-bottom: 1px solid #ddd

    a
      font-size: 1.2em
      text-decoration: none
      font-weight: bold
      padding: 10px
      display: block
  
// charts
.charts
  .chart
    margin-bottom: 20px
    container()
  
  h2
    margin-bottom: 5px
    font-size: 1.4em

    a
      text-decoration: none

  time
    display: block
    margin-bottom: 10px

.estimates
  .estimate
    margin-bottom: 15px

  h3
    margin-bottom: 5px

  .percent-bar
    position: relative
    width: 100%
    height: $bar_height
    background: #dfdfdf
    
  .percent
    height: $bar_height
    display: block
    position: absolute
    background: #bbb
    text-align: right
    
    &.republican
      background: $red
    &.democrat
      background: $blue

  .percent-value
    height: $bar_height
    line-height: $bar_height
    font-weight: bold
    padding: 0 5px
    font-size: 1.2em
    color: #fff

// footer styles
footer
  ul li
    display: inline-block
    border-right: 1px solid #ddd
    padding: 0 5px

    &:first-child
      padding-left: none
    &:last-child
      border-right: none
